<div class="col md-12">
  <LABEL for="actingHunter">Acting Hunter:</LABEL>
  <select id="actingHunter">
    <option>Lord Godalming</option>
    <option>Dr. Seward</option>
    <option>Van Helsing</option>
    <option>Mina Harker</option>
  </select>
  <LABEL for="moveMethod">Movement method:</LABEL>
  <select id="moveMethod">
    <option>Start Location</option>
  </select>
  <LABEL for="destination">Destination:</LABEL>
  <select id="destination" style="width:170px"></select>
  <button id="travel">Travel</button>
</div>