<div class="col md-12">
  <h3 style="text-align:center">Action Phase</h3>
  <p>
    <LABEL for="eventDeck">Event:</LABEL>
  </p>
  <p>
    <select id="eventDeck"></select>
    <button id="drawEvent">Draw Event</button>
  </p>
  <p>
    <LABEL for="itemDeck">Item:</LABEL>
  </p>
  <p>
    <select id="itemDeck"></select>
    <button id="drawItem">Draw Item</button>
  </p>
  <p>
    <button id="discardItem">Discard Item</button>
    <button id="useItem">Use Item</button>
    <button id="tradeItem">Trade Item</button>
  </p>
</div>