<div class="col md-12">
  <p>
    <select id="actingHunter" style="display: none">
      <option>Lord Godalming</option>
      <option>Dr. Seward</option>
      <option>Van Helsing</option>
      <option>Mina Harker</option>
    </select>
    <LABEL for="moveMethod">Movement method:</LABEL>
    <select id="moveMethod">
      <option>Start Location</option>
    </select>
    <LABEL for="destination">Destination:</LABEL>
    <select id="destination" style="width:170px"></select>
    <button id="travel">Travel</button>
  </p>
  <p>
    <button id="draculaEvent">Draw Dracula Event</button>
    <LABEL for="itemDeck">Item:</LABEL>
    <select id="itemDeck"></select>
    <button id="drawItem">Draw Item</button>
    <LABEL for="eventDeck">Event:</LABEL>
    <select id="eventDeck"></select>
    <button id="hunterEvent">Draw Hunter Event</button>
    <button id="discardItem">Discard Item</button>
    <button id="giveItem">Give Item</button>
    <button id="takeItem">Take Item</button>
    <button id="discardEvent">Discard Event</button>
    <button id="playEvent">Play Event</button>
    <button id="resolveEncounter">Resolve Encounter</button>
    <button id="discardEncounter">Discard Encounter</button>
    <div id="targetLocation" style="display: none">
      <LABEL for="locationSelector">Target Location:</LABEL>
      <select class="wide" id="locationSelector"></select>
    </div>
    <button id="fight">Fight</button>
    <button id="hunterWin">Hunter wins</button>
    <button id="enemyWin">Enemy wins</button>
  </p>
</div>