<div class="col-md-12" id="dracula">
  <h3 style="text-align:center">Allies</h3>
  <p>
    <LABEL for="draculaAlly">Dracula's Ally: </LABEL>
    <input type="text" class="wide" id="draculaAlly" readonly>
  </p>
  <p>
    <LABEL for="hunterAlly">Hunters' Ally: </LABEL>
    <input type="text" class="wide" id="hunterAlly" readonly>
  </p>
</div>