<div class="col-md-4">
  <p>Catacomb 1</p>
  <p>
    <input type="text" id="catacombLocation1" readonly>
  </p>
  <p>
    <input type="text" id="catacombEncounter1A" readonly>
  </p>
  <p>
    <input type="text" id="catacombEncounter1B" readonly>
  </p>
</div>
<div class="col-md-4">
  <p>Catacomb 2</p>
  <p>
    <input type="text" id="catacombLocation2" readonly>
  </p>
  <p>
    <input type="text" id="catacombEncounter2A" readonly>
  </p>
  <p>
    <input type="text" id="catacombEncounter2B" readonly>
  </p>
</div>
<div class="col-md-4">
  <p>Catacomb 3</p>
  <p>
    <input type="text" id="catacombLocation3" readonly>
  </p>
  <p>
    <input type="text" id="catacombEncounter3A" readonly>
  </p>
  <p>
    <input type="text" id="catacombEncounter3B" readonly>
  </p>
</div>