<div class="col md-12" id="combat">
  <h3 style="text-align:center">Combat</h3>
  <button id="fight">Fight</button>
  <button id="hunterWin">Hunter wins</button>
  <button id="enemyWin">Enemy wins</button>
</div>