<div class="col md-12" id="combat">
  <h3 style="text-align:center">Combat</h3>
  <p>
    <select id="opponent">
      <option>None</option>
    </select>
  </p>
  <p>
    <button id="fight">Fight</button>
  </p>
  <button id="hunterWin">Hunter wins</button>
  <button id="enemyWin">Enemy wins</button>
</div>