<p>
  <div class="col-md-6">
    <LABEL for="itemDiscard">Items:</LABEL>
    <select class="wide" id="itemDiscard"></select>
  </div>
  <div class="col-md-6">
    <LABEL for="eventDiscard">Events</LABEL>
    <select class="wide" id="eventDiscard"></select>
  </div>
</p>
<p>
  <button id="retrieveItem">Retrieve Item</button>
</p>