<div class="col-md-4" align="left">
  <p>
    <LABEL for="draculaBlood">Blood: </LABEL>
    <input type="number" id="draculaBlood">
  </p>
  <p>
    <LABEL for="encounterCount">Encounters: </LABEL>
    <input type="number" id="encounterCount" readonly>
  </p>
  <p>
    <LABEL for="eventCount">Events: </LABEL>
    <input type="number" id="eventCount" readonly>
  </p>
  <p>
    <LABEL for="draculaLocation">Location: </LABEL>
    <input type="text" class="wide" id="draculaLocation" readonly>
  </p>
</div>