<div class="col-md-4">
  <p>
    <LABEL for="draculaBlood">Blood: </LABEL>
    <input type="number" id="draculaBlood">
  </p>
  <p>
    <LABEL for="draculaLocation">Location: </LABEL>
    <input type="text" id="draculaLocation" readonly>
  </p>
  <p>
    <LABEL for="encounterCount">Encounters: </LABEL>
    <input type="number" id="encounterCount" readonly>
  </p>
</div>