<div class="col md-12">
  <h3 style="text-align:center">Encounters</h3>
  <button id="resolveEncounter">Resolve Encounter</button>
  <button id="discardEncounter">Discard Encounter</button>
  <p>
    <div id="ambush">
      <LABEL for="ambushEncounter">Ambush Encounter:</LABEL>
      <input type="text" id="ambushEncounter" readonly>
    </div>
  </p>
</div>