<div class="col md-12">
  <h3 style="text-align:center">Events</h3>
  <button id="discardEvent">Discard Event</button>
  <button id="playEvent">Play Event</button>
  <div>
    <button id="showItem">Show Item</button>
    <button id="showEvent">Show Event</button>
    <button id="approval">Approve Event</button>
  </div>
  <div id="hiredScoutsSelectors" style="visibility: hidden">
    <LABEL for="hiredScoutsLocation1">Hired Scouts city 1:</LABEL>
    <select id="hiredScoutsLocation1"></select>
    <LABEL for="hiredScoutsLocation2">Hired Scouts city 2:</LABEL>
    <select id="hiredScoutsLocation2"></select>
    <button id="sendScouts">Send Scouts</button>
  </div>
  <div id="stormySeasSelectors" style="visibility: hidden">
    <LABEL for="stormySeasLocation">Stormy Seas Location:</LABEL>
    <select id="stormySeasLocation"></select>
    <button id="sendStorm">Send Storm</button>
  </div>
  <div>
    <button id="discardDraculaAlly" style="visibility: hidden">Discard Dracula Ally</button>
    <button id="discardRoadblock" style="visibility: hidden">Discard Roadblock</button>
  </div>
</div>