<div class="col-md-3" id="godalmingDetails">
  <p>Lord Godalming</p>
  <p>
    <LABEL for="godalmingHealth">Health: </LABEL>
    <input type="number" id="godalmingHealth">
  </p>
  <p>
    <LABEL for="godalmingLocation">Location: </LABEL>
    <input id="godalmingLocation" readonly>
  </p>
  <p>
    <LABEL for="godalmingItems">Items: </LABEL>
    <select id="godalmingItems" style="width:170px">
    </select>
  </p>
</div>
<div class="col-md-3" id="sewardDetails">
  <p>Dr. Seward</p>
  <p>
    <LABEL for="sewardHealth">Health: </LABEL>
    <input type="number" id="sewardHealth">
  </p>
  <p>
    <LABEL for="sewardLocation">Location: </LABEL>
    <input id="sewardLocation" readonly>
  </p>
  <p>
    <LABEL for="sewardItems">Items: </LABEL>
    <select id="sewardItems" style="width:170px">
    </select>
  </p>
</div>
<div class="col-md-3" id="vanHelsingDetails">
  <p>Van Helsing</p>
  <p>
    <LABEL for="vanHelsingHealth">Health: </LABEL>
    <input type="number" id="vanHelsingHealth">
  </p>
  <p>
    <LABEL for="vanHelsingLocation">Location: </LABEL>
    <input id="vanHelsingLocation" readonly>
  </p>
  <p>
    <LABEL for="vanHelsingItems">Items: </LABEL>
    <select id="vanHelsingItems" style="width:170px"></select>
  </p>
</div>
<div class="col-md-3" id="minaDetails">
  <p>Mina Harker</p>
  <p>
    <LABEL for="minaHealth">Health: </LABEL>
    <input type="number" id="minaHealth">
  </p>
  <p>
    <LABEL for="minaLocation">Location: </LABEL>
    <input id="minaLocation" readonly>
  </p>
  <p>
    <LABEL for="minaItems">Items: </LABEL>
    <select id="minaItems" style="width:170px"></select>
  </p>
</div>