<div class="col-md-3" id="godalmingDetails">
  <p>Lord Godalming</p>
  <p>
    <LABEL for="godalmingHealth">Health: </LABEL>
    <input type="number" id="godalmingHealth">
  </p>
  <p>
    <LABEL for="godalmingLocation">Location: </LABEL>
    <select class="locationSelector" id="godalmingLocation"></select>
    <button id="godalmingSearch">Search</button>
  </p>
</div>
<div class="col-md-3" id="sewardDetails">
  <p>Dr. Seward</p>
  <p>
    <LABEL for="sewardHealth">Health: </LABEL>
    <input type="number" id="sewardHealth">
  </p>
  <p>
    <LABEL for="sewardLocation">Location: </LABEL>
    <select class="locationSelector" id="sewardLocation"></select>
    <button id="sewardSearch">Search</button>
  </p>
</div>
<div class="col-md-3" id="vanHelsingDetails">
  <p>Van Helsing</p>
  <p>
    <LABEL for="vanHelsingHealth">Health: </LABEL>
    <input type="number" id="vanHelsingHealth">
  </p>
  <p>
    <LABEL for="vanHelsingLocation">Location: </LABEL>
    <select class="locationSelector" id="vanHelsingLocation"></select>
    <button id="vanHelsingSearch">Search</button>
  </p>
</div>
<div class="col-md-3" id="minaDetails">
  <p>Mina Harker</p>
  <p>
    <LABEL for="minaHealth">Health: </LABEL>
    <input type="number" id="minaHealth">
  </p>
  <p>
    <LABEL for="minaLocation">Location: </LABEL>
    <select class="locationSelector" id="minaLocation"></select>
    <button id="minaSearch">Search</button>
  </p>
</div>