<div class="col-md-3 selectedHunter" id="godalmingDetails">
  <h4>Lord Godalming</h4>
  <p>
    <LABEL for="godalmingGroup">Group: </LABEL>
    <select class="right" id="godalmingGroup">
      <option>Alone</option>
      <option>Group 1</option>
      <option>Group 2</option>
    </select>
  </p>
  <p>
    <LABEL for="godalmingHealth">Health: </LABEL>
    <input type="number" id="godalmingHealth">
  </p>
  <p>
    <LABEL for="godalmingLocation">Location: </LABEL>
    <input class="wide" id="godalmingLocation" readonly>
  </p>
  <p>
    <LABEL for="godalmingItems">Items: </LABEL>
    <select class="wide" id="godalmingItems">
    </select>
  </p>
  <p>
    <LABEL for="godalmingEvents">Events: </LABEL>
    <select class="wide" id="godalmingEvents">
    </select>
  </p>
</div>
<div class="col-md-3" id="sewardDetails">
  <h4>Dr. Seward</h4>
  <p>
    <LABEL for="sewardGroup">Group: </LABEL>
    <select class="right" id="sewardGroup">
      <option>Alone</option>
      <option>Group 1</option>
      <option>Group 2</option>
    </select>
  </p>
  <p>
    <LABEL for="sewardHealth">Health: </LABEL>
    <input type="number" id="sewardHealth">
  </p>
  <p>
    <LABEL for="sewardLocation">Location: </LABEL>
    <input class="wide" id="sewardLocation" readonly>
  </p>
  <p>
    <LABEL for="sewardItems">Items: </LABEL>
    <select class="wide" id="sewardItems">
    </select>
  </p>
  <p>
    <LABEL for="sewardEvents">Events: </LABEL>
    <select class="wide" id="sewardEvents">
    </select>
  </p>
</div>
<div class="col-md-3" id="vanHelsingDetails">
  <h4>Van Helsing</h4>
  <p>
    <LABEL for="vanHelsingGroup">Group: </LABEL>
    <select class="right" id="vanHelsingGroup">
      <option>Alone</option>
      <option>Group 1</option>
      <option>Group 2</option>
    </select>
  </p>
  <p>
    <LABEL for="vanHelsingHealth">Health: </LABEL>
    <input type="number" id="vanHelsingHealth">
  </p>
  <p>
    <LABEL for="vanHelsingLocation">Location: </LABEL>
    <input class="wide" id="vanHelsingLocation" readonly>
  </p>
  <p>
    <LABEL for="vanHelsingItems">Items: </LABEL>
    <select class="wide" id="vanHelsingItems"></select>
  </p>
  <p>
    <LABEL for="vanHelsingEvents">Events: </LABEL>
    <select class="wide" id="vanHelsingEvents">
    </select>
  </p>
</div>
<div class="col-md-3" id="minaDetails">
  <h4>Mina Harker</h4>
  <p>
    <LABEL for="minaGroup">Group: </LABEL>
    <select class="right" id="minaGroup">
      <option>Alone</option>
      <option>Group 1</option>
      <option>Group 2</option>
    </select>
  </p>
  <p>
    <LABEL for="minaHealth">Health: </LABEL>
    <input type="number" id="minaHealth">
  </p>
  <p>
    <LABEL for="minaLocation">Location: </LABEL>
    <input class="wide" id="minaLocation" readonly>
  </p>
  <p>
    <LABEL for="minaItems">Items: </LABEL>
    <select class="wide" id="minaItems"></select>
  </p>
  <p>
    <LABEL for="minaEvents">Events: </LABEL>
    <select class="wide" id="minaEvents">
    </select>
  </p>
</div>