<p>
  <LABEL for="group">Group: </LABEL>
  <select class="right" id="group">
    <option>Alone</option>
    <option>Group 1</option>
    <option>Group 2</option>
  </select>
</p>
<p>
  <LABEL for="health">Health: </LABEL>
  <input type="number" id="health">
</p>
<p>
  <LABEL for="location">Location: </LABEL>
  <input class="wide" id="location" readonly>
</p>
<p>
  <LABEL for="items">Items: </LABEL>
  <select class="wide" id="items">
  </select>
</p>
<p>
  <LABEL for="events">Events: </LABEL>
  <select class="wide" id="events">
  </select>
</p>