<div class="col-md-3 selectedHunter" id="godalming">
  <h4>Lord Godalming</h4>
    <% include hunterDetails %>
</div>
<div class="col-md-3" id="seward">
  <h4>Dr. Seward</h4>
  <% include hunterDetails %>
</div>
<div class="col-md-3" id="vanHelsing">
  <h4>Van Helsing</h4>
  <% include hunterDetails %>
</div>
<div class="col-md-3" id="mina">
  <h4>Mina Harker</h4>
  <% include hunterDetails %>
</div>