<div class="col md-12">
  <h3 style="text-align:center">Markers</h3>
  <p>
    <div class="col-md-6">
      <p>
        <LABEL for="consecratedGround">Consecrated Ground:</LABEL>
      </p>
      <p>
        <select class="wide" id="consecratedGround"></select>
      </p>
      <p>
        <LABEL for="heavenlyHost1">Heavenly Host:</LABEL>
      </p>
      <p>
        <select class="wide" id="heavenlyHost1"></select>
      </p>
    </div>
    <div class="col-md-6">
      <p>
        <LABEL for="roadblock">Roadblock:</LABEL>
      </p>
      <p>
        <input type="text" id="roadblock" readonly>
      </p>
      <p>
        <LABEL for="heavenlyHost2">Heavenly Host:</LABEL>
      </p>
      <p>
        <select class="wide" id="heavenlyHost2"></select>
      </p>
    </div>
  </p>
</div>