<div class="col-md-12">
  <p>
    <LABEL for="consecratedGround">Consecrated Ground:</LABEL>
    <select class="wide" id="consecratedGround"></select>
  </p>
  <p>
    <LABEL for="ambushEncounter">Ambush Encounter:</LABEL>
    <input type="text" id="ambushEncounter" readonly>
  </p>
  <p><button id="newspaperReports">Newspaper Reports</button></p>
  <p>
    <LABEL for="roadBlock">Roadblock:</LABEL>
    <input type="text" id="roadBlock" readonly>
  </p>
</div>