<div class="col md-12">
  <h3 style="text-align:center">Movement Phase</h3>
  <p>
    <LABEL for="moveMethod">Movement method:</LABEL>
    <select id="moveMethod">
      <option>Start Location</option>
    </select>
  </p>
  <p>
    <LABEL for="destination">Destination:</LABEL>
    <select id="destination" style="width:170px"></select>
  </p>
  <p>
    <button id="travel">Travel</button>
  </p>
</div>