<div class="col-md-4">
  <p>
    <LABEL for="timePhase">Time phase: </LABEL>
    <input type="text" id="timePhase" readonly>
  </p>
  <p>
    <LABEL for="hunterAlly">Hunters' Ally: </LABEL>
    <input type="text" class="wide" id="hunterAlly" readonly>
  </p>
</div>