<div class="col-md-4">
  <p>
    <LABEL for="vampireTrack">Vampires: </LABEL>
    <input type="text" id="vampireTrack" readonly>
  </p>
  <p>
    <LABEL for="resolveTrack">Resolve: </LABEL>
    <input type="text" id="resolveTrack" readonly>
  </p>
</div>