<div class="col-md-4">
  <p>
    <LABEL for="vampireTrack">Vampires: </LABEL>
    <input type="number" id="vampireTrack">
  </p>
  <p>
    <LABEL for="resolveTrack">Resolve: </LABEL>
    <input type="number" id="resolveTrack">
  </p>
  <p>
    <LABEL for="draculaAlly">Dracula's Ally: </LABEL>
    <input type="text" class="wide" id="draculaAlly" readonly>
  </p>
  <p>
    <button id="draculaTurn" style="display: none">Perform Timekeeping phase</button>
  </p>
</div>