<div class="col-md-4">
  <p>
    <LABEL for="vampireTrack">Vampires: </LABEL>
    <input type="number" id="vampireTrack" readonly>
  </p>
  <p>
    <LABEL for="resolveTrack">Resolve: </LABEL>
    <input type="number" id="resolveTrack" readonly>
  </p>
  <p>
    <LABEL for="draculaAlly">Dracula's Ally: </LABEL>
    <input type="text" class="wide" id="draculaAlly" readonly>
  </p>
</div>