<div class="col md-12">
  <h3 style="text-align:center">Trail</h3>
  <div class="col-md-2">
    <p>Trail 1</p>
    <p>
      <input type="text" id="trail1" readonly>
    </p>
    <p>
      <input type="text" id="encounter1" readonly>
    </p>
    <p>
      <input type="text" id="power1" readonly>
    </p>
  </div>
  <div class="col-md-2">
    <p>Trail 2</p>
    <p>
      <input type="text" id="trail2" readonly>
    </p>
    <p>
      <input type="text" id="encounter2" readonly>
    </p>
    <p>
      <input type="text" id="power2" readonly>
    </p>
  </div>
  <div class="col-md-2">
    <p>Trail 3</p>
    <p>
      <input type="text" id="trail3" readonly>
    </p>
    <p>
      <input type="text" id="encounter3" readonly>
    </p>
    <p>
      <input type="text" id="power3" readonly>
    </p>
  </div>
  <div class="col-md-2">
    <p>Trail 4</p>
    <p>
      <input type="text" id="trail4" readonly>
    </p>
    <p>
      <input type="text" id="encounter4" readonly>
    </p>
    <p>
      <input type="text" id="power4" readonly>
    </p>
  </div>
  <div class="col-md-2">
    <p>Trail 5</p>
    <p>
      <input type="text" id="trail5" readonly>
    </p>
    <p>
      <input type="text" id="encounter5" readonly>
    </p>
    <p>
      <input type="text" id="power5" readonly>
    </p>
  </div>
  <div class="col-md-2">
    <p>Trail 6</p>
    <p>
      <input type="text" id="trail6" readonly>
    </p>
    <p>
      <input type="text" id="encounter6" readonly>
    </p>
    <p>
      <input type="text" id="power6" readonly>
    </p>
  </div>
</div>