<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <div class="container-fluid bg-3 text-center">
    <div class="row">
      <h3>Dracula Details</h3>
      <div class="col-sm-3" id="draculaDetails">
        <p>
          <LABEL for="draculaBlood">Blood: </LABEL>
          <input type="number" id="draculaBlood">
        </p>
        <p>
          <LABEL for="draculaLocation">Location: </LABEL>
          <input type="text" id="draculaLocation" readonly>
        </p>
        <p>
          <button id="draculaDie">Die</button>
          <button id="draculaChooseLocation">Choose location</button>
        </p>
      </div>
    </div>
    <div class="row">
      <h3>Hunter Details</h3>
      <div class="col-sm-3" id="godalmingDetails">
        <p>Lord Godalming</p>
        <p>
          <LABEL for="godalmingHealth">Health: </LABEL>
          <input type="number" id="godalmingHealth">
        </p>
        <p>
          <LABEL for="godalmingLocation">Location: </LABEL>
          <select class="locationSelector" id="godalmingLocation"></select>
        </p>
      </div>
      <div class="col-sm-3" id="sewardDetails">
        <p>Dr. Seward</p>
        <p>
          <LABEL for="sewardHealth">Health: </LABEL>
          <input type="number" id="sewardHealth">
        </p>
        <p>
          <LABEL for="sewardLocation">Location: </LABEL>
          <select class="locationSelector" id="sewardLocation"></select>
        </p>
      </div>
      <div class="col-sm-3" id="vanHelsingDetails">
        <p>Van Helsing</p>
        <p>
          <LABEL for="vanHelsingHealth">Health: </LABEL>
          <input type="number" id="vanHelsingHealth">
        </p>
        <p>
          <LABEL for="vanHelsingLocation">Location: </LABEL>
          <select class="locationSelector" id="vanHelsingLocation"></select>
        </p>
      </div>
      <div class="col-sm-3" id="minaDetails">
        <p>Mina Harker</p>
        <p>
          <LABEL for="minaHealth">Health: </LABEL>
          <input type="number" id="minaHealth">
        </p>
        <p>
          <LABEL for="minaLocation">Location: </LABEL>
          <select class="locationSelector" id="minaLocation"></select>
        </p>
      </div>
    </div>
  </div>
</body>
<% include partials/script %>

</html>