<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <div class="container-fluid bg-3 text-center">
    <div class="row">
      <h3>Dracula Details</h3>
      <div class="col-sm-3" id="draculaDetails">
        <p>
          <LABEL for="draculaBlood">Blood: </LABEL>
          <input type="number" id="draculaBlood">
        </p>
        <p>
          <LABEL for="draculaLocation">Location: </LABEL>
          <input type="text" id="draculaLocation" readonly>
        </p>
        <p>
          <LABEL for="encounterCount">Encounters: </LABEL>
          <input type="number" id="encounterCount" readonly>
        </p>
        <p>
          <button id="draculaDie">Die</button>
          <button id="draculaChooseLocation">Choose location</button>
        </p>
      </div>
      <div class="col-sm-1">
        <p>Trail 1</p>
        <p>
          <input type="text" id="trail1" readonly>
        </p>
        <p>
          <input type="text" id="encounter1" readonly>
        </p>
      </div>
      <div class="col-sm-1">
        <p>Trail 2</p>
        <p>
          <input type="text" id="trail2" readonly>
        </p>
        <p>
          <input type="text" id="encounter2" readonly>
        </p>
      </div>
      <div class="col-sm-1">
        <p>Trail 3</p>
        <p>
          <input type="text" id="trail3" readonly>
        </p>
        <p>
          <input type="text" id="encounter3" readonly>
        </p>
      </div>
      <div class="col-sm-1">
        <p>Trail 4</p>
        <p>
          <input type="text" id="trail4" readonly>
        </p>
        <p>
          <input type="text" id="encounter4" readonly>
        </p>
      </div>
      <div class="col-sm-1">
        <p>Trail 5</p>
        <p>
          <input type="text" id="trail5" readonly>
        </p>
        <p>
          <input type="text" id="encounter5" readonly>
        </p>
      </div>
      <div class="col-sm-1">
        <p>Trail 6</p>
        <p>
          <input type="text" id="trail6" readonly>
        </p>
        <p>
          <input type="text" id="encounter6" readonly>
        </p>
      </div>
    </div>
    <div class="row">
      <h3>Hunter Details</h3>
      <div class="col-sm-3" id="godalmingDetails">
        <p>Lord Godalming</p>
        <p>
          <LABEL for="godalmingHealth">Health: </LABEL>
          <input type="number" id="godalmingHealth">
        </p>
        <p>
          <LABEL for="godalmingLocation">Location: </LABEL>
          <select class="locationSelector" id="godalmingLocation"></select>
        </p>
      </div>
      <div class="col-sm-3" id="sewardDetails">
        <p>Dr. Seward</p>
        <p>
          <LABEL for="sewardHealth">Health: </LABEL>
          <input type="number" id="sewardHealth">
        </p>
        <p>
          <LABEL for="sewardLocation">Location: </LABEL>
          <select class="locationSelector" id="sewardLocation"></select>
        </p>
      </div>
      <div class="col-sm-3" id="vanHelsingDetails">
        <p>Van Helsing</p>
        <p>
          <LABEL for="vanHelsingHealth">Health: </LABEL>
          <input type="number" id="vanHelsingHealth">
        </p>
        <p>
          <LABEL for="vanHelsingLocation">Location: </LABEL>
          <select class="locationSelector" id="vanHelsingLocation"></select>
        </p>
      </div>
      <div class="col-sm-3" id="minaDetails">
        <p>Mina Harker</p>
        <p>
          <LABEL for="minaHealth">Health: </LABEL>
          <input type="number" id="minaHealth">
        </p>
        <p>
          <LABEL for="minaLocation">Location: </LABEL>
          <select class="locationSelector" id="minaLocation"></select>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" id="log">
        <textarea id="logBox" style="height: 0px; width: 100pc; min-height: 295px; max-height: 370px; resize: none;" readonly></textarea>
      </div>
    </div>
  </div>
</body>
<% include partials/script %>

</html>