<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <div class="container-fluid bg-3 text-left">
    <div class="row">
      <h3 style="text-align:center">Trail</h3>
      <% include partials/trail %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3 style="text-align:center">Dracula Details</h3>
        <% include partials/dracula %>
        <% include partials/track %>
        <% include partials/time %>
      </div>
      <div class="col-md-6">
        <h3 style="text-align:center">Catacombs</h3>
        <% include partials/catacombs %>
      </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
      <h3 style="text-align:center">Hunter Details</h3>
      <% include partials/hunter %>
      <% include partials/actions %>
    </div>
    <div class="row">
      <div class="col-sm-12" id="log">
        <textarea id="logBox" style="height: 0px; width: 100%; min-height: 295px; max-height: 370px;"
          readonly></textarea>
      </div>
    </div>
    <div class="row">
      <button id="startButton">Start</button>
      <button id="draculaTurn" style="visibility: hidden">Perform Dracula's move</button>
      <button id="debugGameState">Debug game state</button>
    </div>
  </div>
</body>
<% include partials/script %>

</html>