<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4" id="verifyMapData">
      <p>Verify map data</p>
      <button id="verifyMapData">Verify</button>
    </div>
    <div class="col-sm-4" id="selectLocation">
      <p>Get distance</p>
      <p><select id="originLocation"></select></p>
      <p><select id="destinationLocation"></select></p>
      <p><input type="checkbox" id="road">Road</input></p>
      <p><input type="checkbox" id="train">Train</input></p>
      <p><input type="checkbox" id="boat">Boat</input></p>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>